<% if current_user && current_user == @pair.user %>
	<%= form_for @photo, :html => {:multipart => true} do |f| %>
		<%= hidden_field_tag 'photo[pair_id]', @pair.id %>
		<%= f.file_field :shot %>
		<%= f.submit 'Add Photo' %>
	<% end %>
<% end %>

<%= image_tag @main_url %><br>

<table>
	<tr>
	  <% @pair.photos.each do |p| %>
			<%= image_tag p.shot_url(:thumb) %>
		<% end %>
	</tr>
	<tr>
		<td>Brand</td><td><%= @pair.brand %><td>
		<td>Model</td><td><%= @pair.model %><td>
	</tr>
	<tr>
		<td>Nickname</td><td><%= @pair.nickname %></td>
		<td>Year</td><td><%= @pair.year %></td>
		<td>Condition</td><td><%= @pair.condition %>/10</td>
	</tr>
	<tr>
		<td>Description</td><td><%= @pair.description %></td>
	</tr>
	<tr>
		<td>Available?</td><td><%= @pair.available %></td>
	</tr>
</table>

