<table>
	<tr>
		<td>Brand</td><td><%= @pair.brand %><td>
		<td>Model</td><td><%= @pair.model %><td>
	</tr>
	<tr>
		<td>Nickname</td><td><%= @pair.nickname %></td>
		<td>Year</td><td><%= @pair.year %></td>
		<td>Condition</td><td><%= @pair.condition %>/10</td>
	</tr>
	<tr>
		<td>Description</td><td><%= @pair.description %></td>
	</tr>
</table>

